<div>
  <h1>Home page</h1>
  <br>
  <%= render "/home/user" %>
  <br>

  <br>
  <%= link_to "download file", home_download_path%>
  <br>
  <% if user_signed_in? %>
  <br>
  <%= render "/home/import" %>
  <br>
    <%= link_to "Data Analysis", analysis_show_path %>
  <% end %>
</div>
